
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #413e3e;
    color: #333;
}


header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}


nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 15px 0;
    background-color: #eaeaea;
}

nav a {
    text-decoration: none;
    font-size: 1.1em;
    color: #333;
}
.nav-links-container {
    display: flex;
    position: center;
    justify-content: center;
    gap: 4rem;
}
.nav-links {
    text-align: center;
    width: 6em;
    height: 1.5em;
    font-size: 1.5em;
    padding: 4px;
    list-style: none;
    border: black 3px solid;
}

nav a:hover {
    text-decoration: underline;
}


main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #949494;
}


h1 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.3em;
    margin-top: 20px;
}


.project {
    border: #0066cc 2px solid;
    display: flex;
    justify-content: left;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: #0066cc;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project-image {
    margin-left: auto;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 15px 0;
    background-color: #eaeaea;
    margin-top: 40px;
    font-size: 0.9em;
}




/* Begin form styling */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.form-labels,textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    main {
        margin: 15px;
    }
}
